.ItemList{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    }
    
    
    .TituloListContainer{
        font-size: 2vw;
        font-weight: 400;
        text-align: center;
        color: var(--clr-primario-dark);
        background: transparent;
        border: none;
        margin: 3vh;
        padding: 0vw 1vw 0vw 1vw;
    }