.CartItem{
    display: grid;
    grid-template-columns: 8fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--clr-terciario);
    border: 0.3vw solid var(--clr-primario-light);
    border-radius: 2vw;
    width: 80%;
    margin: 1vw;
    padding: 1vw;
   
}


.CartItemDetail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    

}

.imgMini{
    width: 10vw;
    padding: 1vw;
    background: transparent;
    border-radius: 1vw;
    box-shadow: 0 0 10px 0 var(--clr-secundario);
}

.Info{
    font-size: 1vw;
    font-weight: 500;
}

.Title1{
    font-size: 2vw;
    font-weight: 400;
 }

.DeleteIcon{
    cursor: pointer;
    font-size: 5vw;
    color: red;
}

*{
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}